doctype html(lang='en')
html(lang='en')
  head
    title #{user.first_name} on the web &mdash; Namesake News
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')

    link(rel='stylesheet', href="/bootstrap/dist/css/bootstrap.css")
    link(rel='stylesheet', href="https://bootswatch.com/superhero/bootstrap.min.css")
    link(rel='stylesheet', href="/css/core.css")

    script(src="/jquery/dist/jquery.min.js")
    script(src="/jquery-tubular/js/jquery.tubular.1.0.js")
    script(src="/jquery-highlight/jquery.highlight.js")
    script(src="/news.js" async=true)
  body

    nav.navbar.navbar-default.navbar-static-top
      .container-fluid.col-xs-12.col-xs-offset-0.col-sm-10.col-sm-offset-1.col-md-8.col-md-offset-2.col-lg-6.col-lg-offset-3.col-xl-4.col-xl-offset-4
        ul.nav.navbar-nav
          li.nav-item
            a.nav-link(href='/') Home
          li.nav-item.active
            a.nav-link.active(href='/news/') My News 
              span.sr-only (current)
          li.nav-item
            a.nav-link(href='/about') About
    input.my-name(type='hidden', value=user.first_name)
    .container-fluid.col-xs-12.col-xs-offset-0.col-sm-10.col-sm-offset-1.col-md-8.col-md-offset-2.col-lg-6.col-lg-offset-3.col-xl-4.col-xl-offset-4
      .header.clearfix
        h3.text-muted Namesake News
      .jumbotron
        h1.display-3 #{user.first_name}'s latest news
        p.lead Just look at this unbelievable attraction
      .row.marketing.feed
      .loader
        .windows8
          #wBall_1.wBall
            .wInnerBall
          | &#x9;
          #wBall_2.wBall
            .wInnerBall
          | &#x9;
          #wBall_3.wBall
            .wInnerBall
          | &#x9;
          #wBall_4.wBall
            .wInnerBall
          | &#x9;
          #wBall_5.wBall
            .wInnerBall

      footer.footer
        p &copy; ftpes 2016
